body {
  background-color: #1b2021;
  color: #eac8af;
  text-align: center;
  font-family: "Press Start 2P", cursive;
  font-size: 2vw;
}

h1 {
  text-shadow: 3px 0 #5f939a;
  margin: 4vh auto;
}

.pressed {
  box-shadow: 0 3px 4px 0 #d8ac9c;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  color: #5f939a;
  font-weight: 900;
  font-size: 3rem;
  text-shadow: 3px 0 #1b2021;
  background-color: #d8ac9c;

  border: 10px solid #5f939a;
  border-radius: 20px;

  margin: 1vh 1vw;
  height: 18vmax;
  width: 18vmax;
  max-width: 28vh;

  display: inline-block;

  background-size: cover;
  background-repeat: no-repeat;
}

.d1 {
  background-image: url("images/tom1.png");
}

.d2 {
  background-image: url("images/tom2.png");
}

.d3 {
  background-image: url("images/tom3.png");
}

.d4 {
  background-image: url("images/tom4.png");
}

.d5 {
  background-image: url("images/snare.png");
}

.d6 {
  background-image: url("images/crash.png");
}

.d0 {
  background-image: url("images/kick.png");
}
